<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Prototype</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body>
        <main>{% block main %}{% endblock main %}</main>

        <footer>
            <script type="javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        </footer>
    </body>